body {
    background-image: url(background.jpeg);
    background-size: cover;
}

h2 {
    color:#D46A6A;
    text-align:center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    color: pink;
}

p {
    color: green;
}

li {
    list-style: none;
    display:inline-block;
}