<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, index) in ingredients" :key="index">
          {{ ingredient }} ({{ index }})
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add New</button>
      <hr />
      <ul>
        <!-- <li v-for="person in persons">{{ person.name }}</li> -->
        <li v-for="person in persons">
          <span v-for="(value, key, index) in person"
            >{{ key }}:{{ value }} ({{ index }})</span
          >
        </li>
      </ul>
      <hr />
      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
      </template>
      <span v-for="n in 10">{{ n }}</span>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          ingredients: ["meat", "fruit", "cookies"],
          persons: [
            { name: "David", age: 25, color: "yellow" },
            { name: "Takumi", age: 25, color: "green" }
          ]
        }
      });
    </script>
  </body>
</html>
